body {
    background-image: jj.jpg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    text-align: center;
}

img {
    width: 500px;
    height: 500px;
}
